<%- include('includes/head.ejs') %>
        <link href="styles/css/about.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="about-container">
        <img class="about__image" src="images/about_side.jpg" alt=""/>

        <article class="about-section">
            <h2 class="about-section__title">About Jimmy's Garage</h2>
            <p class="about-section__text">Established in 2001, we, at Jimmy’s Garage, aim to deliver the best service in second-hand goods.
            <br>
            <br>
            We’re located in Salt Lake City, Utah and offer a great range of refurbished goods. From electronics to gardening tools, we’ve got it all. Our team strives to deliver the best in the market for the lowest cost.
            <br>
            <br>
            We offer repair services for a number of item types at great rates and free delivery for any item(s) you buy from us. Also if you think you might have something of interest to us just <a class="about-section__text--link" href="contact">give us a call</a> and a member of our team will be happy to have alook.</p>
        </article>
    </div>
<%- include('includes/end.ejs') %>